body{
  font-family: 'Dejavu Sans';
  font-size: 13pt;
  background-color: url('../bg.png');
  background-repeat: repeat-y;
}
h1, h2,h3,h4,h5,h6{
  color: #4F4F4F;
}
li{
  padding-bottom: 0.3em;
}
a{
  color: #4F4F4F;
  font-weight: bold;
  text-decoration: none;
}
a:hover{
  color: #4F4F4F;
  font-weight: bold;
  text-decoration: underline;
}
.content{
  padding: 60px 15px;
  background-color: white;
  border: solid #4F4F4F 1px;
  border-radius: 1em;
}
