body{
  font-family: 'Dejavu Sans';
  font-size: 13pt;
  background-image: url('../bg.png');
}
h1, h2,h3,h4,h5,h6{
  color: #333;
}
li{
  padding-bottom: 0.3em;
}
a{
  color: #333;
  font-weight: bold;
  text-decoration: none;
}
a:hover{
  color: #333;
  font-weight: bold;
  text-decoration: underline;
}
 .navbar-brand{
   font-size: 200% !important;
   font-weight: bold;
 }
.spacer{height: 80px;}
.content{
  padding: 2em;
  background-color: white;
  border: solid #333 1px;
  border-radius: 0.5em;
}
 .footer{
   float: left;
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   
 }
 .copyright{
   font-size: 8pt;
   width: 100%;
   height: 14pt;
   background-color: #333;
   color: white;
   padding-left: 20px;
   padding-top: 2pt;
   text-align: center;
 }
.maincontainer{  margin: 2em;}
